{% extends 'base.html' %}
{% load static %}
{% block title %}图书管理{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="background" style="background: #4ECDC4">
        <h2 class="text" style="margin-left: auto; color: #ffffff">管好</h2>
    </div>
    <div class="background" style="background: #ffffff">
        <h2 class="text" style="margin-right: auto; color: #4ECDC4">每一本书</h2>
    </div>
{% endblock %}

